body {
    font-family: 'Merriweather', serif;
}

#new-year {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    margin-top: 175px;
    margin-bottom: 0;

}

#new-year-party {
    width: 632px;
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 0px;
    margin-bottom: 175px;
}

#banner {
    background-image: url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 50px auto 0;
}

#title {
    display: flex;
    gap: 16px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

main {
    width: 1320px;
    margin: auto;
}

#discount {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: antiquewhite;
    border-radius: 20px;
    margin-top: 120px;

}

#discount h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

#discount h3 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 0;
}

#discount h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 48px;
}

#discount img {
    width: 802.9px;
    margin-bottom: 40px;
}

#welcome-bg {
    background-image: url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    margin-top: 120px;
    margin-bottom: 120px;
    width: 100%;

}


#welcome {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    padding: 66px 138px 66px 126px;
    border-radius: 20px;
}

#welcome h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
}

#welcome p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

#welcome button {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: none;
}

#place {
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    padding: 100px auto 0;
    border-radius: 20px;
    margin-bottom: 120px;
    padding-top: 100px;
}


#place button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: none;
    margin-top: 48p;
}

#new-best-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 120px;
}

#first-img {
    border: 10px solid #F00;
    border-radius: 463px;
    padding: 25px;
}

#new-best {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

#coming-soon {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 22px;
}

#dolor {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

#year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

#dolor-set {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}


#year-container {
    padding-left: 120px;
}

#year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

#dolor-set {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
}

#second-img {
    width: 140px;
    height: 140px;
}

#functional {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

#holidays {
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
    margin-top: 0;
}

#contain {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 64px;
}

#picture-decoration {
    display: flex;
    /* display: grid; */
    background-image: url("../images/Rectangle\ 2.png");
    /* background-image: url(../images/Rectangle\ 1.png); */
    background-repeat: no-repeat;
    background-position: bottom;
    /* width: 100%; */
    width: 1320px;
    /* height: 229px; */
    border-radius: 16px 0px 16px 16px;
    /* margin-top: 497px; */
    /* margin-bottom: 0; */
    margin-bottom: 120px;
}

#pic-75 {
    color: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
    width: 797px;
    height: 663px;
}

#pic-44 {
    width: 206.841px;
    height: 206.841px;
}

#pic-rect1 {
    width: 429px;
    height: 433px;
}

#pic-rect2 {
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
}

#portfolio {
    background: #FFF;
    /* height: 735px; */
}

#the-best {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

#awesome {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 22px;
}

#message {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin-bottom: 48px;
}

#portfolio>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

#portfolio>div>img {
    border: 5px solid transparent;
}

#portfolio>div>img:hover {
    border: 5px solid green
}

#newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-top: 120px;
    padding: 80px 212px;
}

#newsletter>h1 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin-top: 48px;
    margin-bottom: 22px;
}

#newsletter>p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
    width: 896px;
    margin-bottom: 48px;
}

#newsletter>div {
    display: flex;
    gap: 0;
}

#newsletter>div>input {
    width: 648px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    border: none;
}

#newsletter>div>input::placeholder {
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    padding: 25px 477px 25px 30px;
}

#newsletter>div>button {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

footer {
    /* height: 609px; */
    background: #070211;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 120px 50px;
}

.flex {
    display: flex;
}

.first {
    justify-content: space-between;
}

.third {
    justify-content: center;
}

#contact img {
    width: 24px;
    height: 24px;
}

#contact>div {
    align-items: center;
    gap: 16px;
}

#unsubscribe {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    background-color: transparent;
    border: none;
}